/* MISC */
/* Estilos de fuentes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family= Montserrat:wght@200;300;500;700;900&display=swap");
/* Uso de fuentes*/
/* font-family: 'Lato', sans-serif;
   font-family: 'Roboto', sans-serif;
   font-family: 'Montserrat', sans-serif;  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: burlywood;
  min-height: 100%; }

ul, ol {
  list-style-type: none; }

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: yellow; }

img {
  width: 100%; }

td {
  padding: 0 1rem; }

th {
  padding: 0 1rem; }

h1 {
  color: yellow;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: left;
  padding: 1rem; }

h2 {
  color: yellow;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 32px;
  text-align: center;
  padding: 1rem; }

h4 {
  color: yellow;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center; }

h6 {
  color: yellow; }

p {
  color: yellow;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  padding: 1rem; }

.body-background-none {
  background-color: burlywood;
  background-image: none; }

/* PARTIALS */
header {
  /*///////////////////////////////////////////////////////////////*/
  background: linear-gradient(to left, darkblue, #0495c5);
  /*//////////////////////////////////////////////////////////////*/
  padding: 1rem;
  border-bottom: #c00606 5px solid;
  font-family: 'Lato', sans-serif; }
  header .header__logo {
    flex-basis: 40%; }

nav {
  display: flex;
  align-items: center;
  justify-content: space-around; }

footer {
  background-color: darkblue;
  padding: 0.5rem;
  font-family: 'Lato', sans-serif;
  border-top: #c00606 5px solid;
  height: 12rem; }
  footer .footer-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 100px;
    margin: 0 5rem; }
  footer .footer-right {
    width: 75%;
    display: flex;
    float: right;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: wrap; }
  footer .footer-left {
    width: 25%;
    display: flex;
    float: left;
    align-items: flex-start;
    padding: 0 0;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; }
  footer .footer-right__img {
    display: flex;
    flex-basis: 1%;
    align-items: flex-end;
    padding: 1rem; }

@keyframes check-me {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.02); }
  100% {
    transform: scale(1); } }

a.nav-link {
  color: yellow;
  font-size: 2rem; }

img.d-inline-block.align-top {
  padding: 0 1rem; }

span.navbar-toggler-icon {
  border: 3px solid yellow;
  width: 3rem;
  height: 3rem; }

#carouselExampleSlidesOnly div img {
  max-width: 100%;
  max-height: 80%; }

#carouselExampleSlidesOnly {
  margin: 2rem 0rem;
  border: #c00606 5px solid; }

#carouselExampleCaptions div img {
  max-width: 100%;
  max-height: 80%; }

#carouselExampleCaptions {
  margin: 2rem 0rem;
  border: #c00606 5px solid; }

.empresa-titulo h1 {
  color: yellow; }

.cursos-titulo h1 {
  color: yellow; }

.empresa-cards {
  padding: 2rem;
  margin: 2rem 5rem;
  border: #c00606 5px solid; }

.card {
  background-color: black; }

.card-body p {
  font-size: 3rem;
  background-color: #00bfff;
  font-weight: 300; }

.card-body {
  color: black; }

.card .card-body a {
  color: white;
  font-size: 1.5em; }

.card .card-body h5 {
  color: white; }

.card .card-body h6 {
  color: white; }

.empresa-cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

div .card-body h5 {
  font-size: 3rem;
  align-items: center;
  color: black; }

div .card-body h6 {
  font-size: 1rem;
  color: #005BBB; }

#email {
  max-height: 2px; }

.form div {
  display: grid;
  flex-direction: column;
  align-items: center;
  grid-template-columns: [labels] auto [controls] auto;
  grid-auto-flow: row;
  grid-gap: 0.8em;
  background: darkgoldenrod;
  padding: 1em;
  max-width: fit-content; }

.cursos-cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem; }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end; } }

@media (min-width: 0) and (max-width: 400px) {
  .card .card-body p {
    font-size: 1rem;
    /*background-color: #00bfff;*/
    background-color: azure;
    font-weight: 300; }
  .carousel-item .carousel-caption p {
    font-size: 0.5rem; } }

@media screen and (max-width: 650px) {
  header nav {
    flex-direction: column;
    gap: 2rem; }
  .index-galery {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, auto);
    gap: 1rem;
    padding: 1rem;
    border: #c00606 5px solid;
    margin-bottom: 5rem; }
  .index-galery .index-galery__img:nth-of-type(1) {
    grid-column: 1/7; }
  .index-galery .index-galery__img:nth-of-type(2) {
    grid-column: 7/13; }
  .index-galery .index-galery__img:nth-of-type(3) {
    grid-column: 1/7;
    grid-row: 2; }
  .index-galery .index-galery__img:nth-of-type(4) {
    grid-column: 7/13;
    grid-row: 2; }
  .index-galery .index-galery__img:nth-of-type(5) {
    grid-column: 1/13;
    grid-row: 3; }
  .index-galery .index-galery__img:nth-of-type(6) {
    grid-column: 1/13;
    grid-row: 4; }
  .index-galery .index-galery__img:nth-of-type(7) {
    grid-column: 1/7;
    grid-row: 5; }
  .index-galery .index-galery__img:nth-of-type(8) {
    grid-column: 1/13;
    grid-row: 6; }
  .index-galery .index-galery__img:nth-of-type(9) {
    grid-column: 7/13;
    grid-row: 5; }
  /* -----------------------------------------*/
  /* -----------      Galeria       ----------*/
  /* -----------------------------------------*/
  .galery {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
    border: #c00606 5px solid;
    margin-bottom: 5rem;
    align-content: stretch; }
  .galery .img-h {
    width: 100%;
    height: 100%; }
  .galery .img-v {
    width: 50%;
    height: 50%; }
  .galery .card-1 {
    grid-column: 1/13;
    grid-row: 1;
    object-fit: cover;
    flex-direction: column;
    align-items: center;
    align-content: center; }
  .galery .card-2 {
    grid-column: 1/13;
    grid-row: 2;
    object-fit: cover;
    flex-direction: column;
    align-items: center;
    align-content: center; }
  .galery .card-3 {
    grid-column: 1/13;
    grid-row: 3;
    flex-direction: column; }
  .galery .card-4 {
    grid-column: 1/13;
    grid-row: 4;
    object-fit: cover; }
  /* -----------------------------------------*/
  /* -----------      Empresa       ----------*/
  /* -----------------------------------------*/
  .empresa-formato-texto {
    align-content: center;
    align-items: flex-start; }
  .empresa-articulo-0 {
    padding-bottom: 7rem; }
  .empresa-articulo-2 {
    padding-bottom: 7rem; }
  .empresa-articulo-4 {
    padding-bottom: 7rem; } }

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@    MEDIA QUERY    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media screen and (max-width: 500px) {
  header nav {
    flex-direction: row;
    gap: 2rem; }
  h1 {
    font-size: 16px; }
  .galery-subtitulo-1 h2 {
    font-size: 2rem; }
  .empresa-formato-subtitulo h2 {
    font-size: 2rem; }
  footer {
    height: auto; }
  .footer-container {
    flex-wrap: wrap;
    height: auto; }
  .footer-left {
    align-items: strech;
    align-content: flex-end; }
  .footer-right {
    width: 75%;
    display: flex;
    float: right;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    /*padding-left: 10rem;*/ }
  /* ----------------------------------*/
  /* ----------   Empresa    ----------*/
  /* ----------------------------------*/
  .empresa > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 3px; }
  .card-body p {
    font-size: 1.5rem;
    background-color: azure;
    font-weight: 300; }
  /* ----------------------------------*/
  /* ----------     Form     ----------*/
  /* ----------------------------------*/
  .form {
    display: grid;
    flex-direction: row;
    grid-template-columns: [labels] 50px [controls] 100px;
    grid-auto-flow: row;
    grid-gap: 0.8em;
    background: darkgoldenrod;
    padding: 1em;
    max-width: fit-content; }
  .form label {
    grid-column: labels;
    grid-row: auto;
    font-size: 1.5rem;
    align-content: center; }
  .form input,
  .form textarea,
  .form button {
    grid-column: controls;
    grid-row: auto;
    border: none;
    padding: 1em 0; }
  /* ----------------------------------*/
  /* ----------    Cursos    ----------*/
  /* ----------------------------------*/
  .cursos {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding: 0 0.5rem; }
  .cursos-descripcion {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, auto);
    gap: 1rem;
    padding: 1rem;
    border: #c00606 5px solid;
    margin: 1rem 1rem; }
  table.cursos-costos {
    color: #2c2929;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: left; } }

/* VIEWS */
.index-titulo h1 {
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin: 2rem; }

.index-galery {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  border: #c00606 5px solid;
  margin-bottom: 5rem; }

.index-galery__img {
  transition: transform .5s; }

.index-galery__img:hover {
  transform: scale(1.05); }

.index-galery .index-galery__img:nth-of-type(1) {
  grid-column: 1/4;
  animation-name: check-me;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 2s; }

.index-galery .index-galery__img:nth-of-type(2) {
  grid-column: 4/7;
  animation-name: check-me;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 4s; }

.index-galery .index-galery__img:nth-of-type(3) {
  grid-column: 7/10;
  animation-name: check-me;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 6s; }

.index-galery .index-galery__img:nth-of-type(4) {
  grid-column: 10/13;
  animation-name: check-me;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 8s; }

.index-galery .index-galery__img:nth-of-type(5) {
  grid-column: 1/7;
  grid-row: 2;
  object-fit: cover; }

.index-galery .index-galery__img:nth-of-type(6) {
  grid-column: 7/13;
  grid-row: 2;
  object-fit: cover; }

.index-galery .index-galery__img:nth-of-type(7) {
  grid-column: 1/4;
  grid-row: 3;
  animation-name: check-me;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 4s; }

.index-galery .index-galery__img:nth-of-type(8) {
  grid-column: 4/10;
  grid-row: 3;
  object-fit: cover; }

.index-galery .index-galery__img:nth-of-type(9) {
  grid-column: 10/13;
  grid-row: 3;
  animation-name: check-me;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 4s; }

.index-galery__img {
  width: 100%;
  height: auto; }

.empresa-titulo h1 {
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin: 2rem; }

.empresa-formato-subtitulo h2 {
  max-height: 20px; }

.empresa-articulo-0 {
  grid-area: "titulo-articulo-1";
  padding: 3rem;
  display: flex;
  align-items: baseline;
  justify-content: center; }

.empresa-articulo-1 {
  grid-area: "articulo-1"; }

.empresa-articulo-2 {
  grid-area: "titulo-articulo-2";
  padding: 3rem;
  display: flex;
  align-items: baseline;
  justify-content: center; }

.empresa-articulo-3 {
  grid-area: "articulo-2"; }

.empresa-articulo-4 {
  grid-area: "titulo-articulo-3";
  padding: 3rem;
  display: flex;
  align-items: baseline;
  justify-content: center; }

.empresa-articulo-5 {
  grid-area: "articulo-3"; }

.empresa {
  display: grid;
  gap: 5px;
  grid-template-areas: "titulo-articulo-1" auto "articulo-1"		auto "titulo-artiuclo-2" auto "articulo-2"		auto "titulo-articulo-3" auto "articulo-3"		auto / auto;
  gap: 1em;
  padding: 5em;
  border: #c00606 5px solid;
  margin: 5em 5em;
  align-content: stretch; }

.empresa-formato-texto {
  align-content: center;
  align-items: flex-start; }

.cursos-descripcion {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(10, auto);
  gap: 1rem;
  padding: 1rem;
  border: #c00606 5px solid;
  margin: 5rem 5rem; }

.cursos-descripcion h2 {
  color: yellow;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin: 2rem; }

.cursos {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 0 5rem; }

table.cursos-costos {
  color: #2c2929;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: left; }

.cursos-titulo h1 {
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin: 2rem; }

.galeria-container__titulo-galeria {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

.galeria-container {
  padding: 0 5rem 10rem 5rem; }

.galeria-container h1 {
  color: yellow;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  /*font-size: 28px;*/
  text-align: center;
  padding: 1rem; }

.galeria-container h2 {
  color: yellow;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  /*font-size: 28px;*/
  text-align: left;
  padding: 1rem; }

.galeria-container-foto__desc h3 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  /*font-size: 28px;*/
  text-align: left;
  padding: 1rem; }

.galery-titulo h1 {
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin: 2rem; }

.galery-subtitulo-1 h2 {
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin: 2rem; }

.galery .img-h {
  width: 100%;
  height: 100%; }

.galery .img-v {
  width: 100%;
  height: 100%; }

.img-h {
  transition: transform .5s; }

.img-h:hover {
  transform: scale(1.02); }

.img-v {
  transition: transform .5s; }

.img-v:hover {
  transform: scale(1.02); }

.card-1 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start; }

.card-1__description {
  max-width: 200px;
  padding: 3rem; }

.card-1__detalle {
  list-style-type: square; }

.card-2 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start; }

.card-2__description {
  max-width: 200px;
  padding: 3rem; }

.card-2__detalle {
  list-style-type: square; }

.card-3 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; }

.card-3__description {
  max-height: 400px;
  padding: 3rem; }

.card-3__detalle {
  list-style-type: square; }

.card-4 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; }

.card-4__description {
  max-height: 400px;
  padding: 3rem; }

.card-4__detalle {
  list-style-type: square; }

.galery {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  border: #c00606 5px solid;
  margin-bottom: 5rem;
  align-content: stretch; }

.galery .card-1 {
  grid-column: 1/7;
  grid-row: 1;
  object-fit: cover; }

.galery .card-2 {
  grid-column: 7/13;
  grid-row: 1;
  object-fit: cover; }

.galery .card-3 {
  grid-column: 1/7;
  grid-row: 2;
  object-fit: cover; }

.galery .card-4 {
  grid-column: 7/13;
  grid-row: 2;
  object-fit: cover; }

.form-container__titulo-contacto {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

.form-container h1 {
  color: yellow;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin: 2rem; }

.form-container {
  padding: 5rem 30rem;
  color: yellow;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: left;
  padding: 5rem;
  margin: 0 5rem;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center; }

.form__btn {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  color: yellow;
  padding-top: 15px;
  padding-bottom: 15px;
  /*padding-left:100px;
	padding-right:100px;*/
  background-color: #005BBB; }

.form__btn:hover {
  background-color: #000000;
  color: #ffffff; }

.form {
  display: grid;
  flex-direction: column;
  align-items: center;
  grid-template-columns: [labels] auto [controls] auto;
  grid-auto-flow: row;
  grid-gap: 0.8em;
  background: darkgoldenrod;
  padding: 1em;
  max-width: fit-content; }

.form label {
  grid-column: labels;
  grid-row: auto; }

.form input,
.form textarea,
.form button {
  grid-column: controls;
  grid-row: auto;
  border: none;
  padding: 1em 0; }
