
a.nav-link{
	color: yellow;
	font-size: 2rem;
}

img.d-inline-block.align-top {
    padding: 0 1rem;
}

span.navbar-toggler-icon{
	border: 3px solid yellow;
	width: 3rem;
	height: 3rem;
}

#carouselExampleSlidesOnly div img{
	max-width: 100%;
	max-height: 80%;
}

#carouselExampleSlidesOnly{
	margin: 2rem 0rem;
	border: rgb(192, 6, 6) 5px solid;

}

#carouselExampleCaptions div img{
	max-width: 100%;
	max-height: 80%;
}

#carouselExampleCaptions{
	margin: 2rem 0rem;
	border: rgb(192, 6, 6) 5px solid;
}

.empresa-titulo h1 {
	color:yellow;
}

.cursos-titulo h1 {
	color: yellow;
}

.empresa{
	padding:1rem;
	margin:1rem;
}

.empresa .empresa-articulo-0, .empresa-articulo-2 h2{
	padding-bottom: 3rem;
}

.empresa .empresa-articulo-4 h2{
	padding-bottom: 5rem;
}

.empresa-cards{
	padding:2rem;
	margin: 2rem 1rem;
	border: rgb(192, 6, 6) 5px solid;
}

.card{
	background-color: black;
}

.card-body{
	color:black;

	p{
		font-size: 2.5rem;
		background-color: rgb(4, 149, 197);
		font-weight: 300;
	}
}

.card .card-body a{
	color:white;
	font-size: 1.5em;
}

.card .card-body h5{
	color:white;
}

.card .card-body h6{
	color:white;
}

.empresa-cards{
	@include flex(row, space-evenly, 1rem, center, na, wrap);
	/*display: flex;
	flex-direction: row;
	gap: 1rem;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;*/
}

div .card-body h5{
	font-size:3rem;
	align-items: center;
	color: black
}

div .card-body h6{
	font-size:1rem;
	color:rgb(4, 149, 197);
}

#email-suscribeme{
	max-height: 2px;
}

.form div{
    display: grid;
	flex-direction: column;
	align-items: center;
    grid-template-columns: [labels] auto [controls] auto;
	grid-auto-flow: row;
    grid-gap: 0.8em;
    background:darkgoldenrod;
    padding: 1rem;
	max-width: fit-content;
	max-height: fit-content;
}

input,
label,
button {
	grid-column: controls;
	grid-row: auto;
	border: none;
	padding: 1em 0;
}

.cursos-cards{
	display: flex;
	flex-direction: row;
	gap: 1rem;
	flex-wrap: wrap;
	align-items: center;
	justify-content:space-evenly;
	margin: 1rem 1rem;
}

.navbar{
	padding-left: 1rem;
	padding-right: 1rem;
	.navbar-nav{
		gap: 1rem;
		.nav-link{
			border: 1px solid darkblue;
			transition: border 0.8s ease-in-out;
			&:hover{
				border-color: yellow;
			}
		}
	}
}

@media (min-width: 992px)
{
	.navbar-expand-lg .navbar-collapse {
    	display: flex!important;
    	flex-basis: auto;
    	justify-content: flex-end;
	}

}

@media (max-width: 991px){
	.navbar{
		.navbar-nav{
			gap:0rem;
			.nav-link{
				border: none;
			}
		}
	}
}

@media (min-width:0) and (max-width:400px){
	
	.card .card-body p{
		font-size: 1,5rem;
		/*background-color: #00bfff;*/
		background-color: rgb(4, 149, 197);
		font-weight: 300;
	}

	.card .card-body .card-text p{
		font-size: 1,5rem;
		/*background-color: #00bfff;*/
		background-color: rgb(4, 149, 197);
		font-weight: 300;
	}

	.carousel-item .carousel-caption p{
		font-size: 0.5rem;
	}

	header nav img {
        width:65px;
		height:55px;
	}

	a.nav-link{
		font-size: 1.5rem;
	}

	span.navbar-toggler-icon {
		border: 2px solid yellow;
		width: 2rem;
		height: 2rem;
	}
	
}