header {
	/*///////////////////////////////////////////////////////////////*/
	$start-color: map-get($map: $colors, $key:primary );
	$end-color:map-get($map: $colors, $key:secondary );
	background: linear-gradient(to left, $start-color, $end-color);
	/*//////////////////////////////////////////////////////////////*/
	padding: map-get($map: $spacings, $key:spacing-xsmall );
	$border-bottomline: map-get($map: $colors, $key:borderline);
	border-bottom: $border-bottomline $xlarge solid;
	font-family: $font-secondary;
    
    .header__logo {
        flex-basis: 40%;
    }

	nav {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
}


