
.form-container__titulo-contacto {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.form-container {
	padding: 5rem 30rem;
	/*color:yellow;*/
	color:map-get($map: $colors, $key:primary-text-color );
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 2.5rem;
	text-align: left;
	padding: 5rem;	
	margin: 0 5rem;
	display: flex;
	align-content: center;
	flex-direction: column;
	align-items: center;

	h1 {
		/*color:yellow;*/
		color: map-get($map: $colors, $key:primary-text-color );
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		text-align: center;
		padding: 1rem;
		text-align: center;
		text-shadow: black 0.1em 0.1em 0.2em;
		margin: 2rem;
	}
}

.form__btn{
	text-decoration:none;
	font-weight:700;
	font-size:20px;
	color: map-get($map: $colors, $key: primary-text-color);
	padding-top:15px;
	padding-bottom:15px;
	background-color: map-get($map: $colors, $key:boton-color );
}

.form__btn--submit{
	@extend .form__btn;
	&:hover {
		background-color: map-get($map: $colors, $key:secondary-text-color);
		color:map-get($map: $colors, $key:alternative );
	}
}

.form__btn--clear{
	@extend .form__btn;
	&:hover {
		background-color: map-get($map: $colors, $key:borderline);
		color:map-get($map: $colors, $key:alternative );
	}
}

.form {
    display: grid;
	flex-direction: column;
	align-items: center;
    grid-template-columns: [labels] auto [controls] auto;
	grid-auto-flow: row;
    grid-gap: 0.8em;
    background: map-get($map: $colors, $key:alternative-bg );
	padding: 1rem;
	max-width: fit-content;
	max-height: fit-content;

	label {
		grid-column: labels;
		grid-row: auto;
	}

	input,
	textarea,
	button {
    	grid-column: controls;
    	grid-row: auto;
    	border: none;
    	padding: 1em 0;
	}

	#nombre,
	#apellido,
	#email{
		max-height: 5px;
	}
	
}