.cursos-descripcion {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(10, auto);
	gap: map-get($map: $spacings, $key: spacing-xsamll);
	padding: map-get($map: $spacings, $key: spacing-xsamll);
	$line-color: map-get($map: $colors, $key:borderline);
	@include borderline(5px, $line-color);
	margin: map-get($map: $spacings, $key: spacing-xlarge) map-get($map: $spacings, $key: spacing-xlarge);

	h2 {
		color:map-get($map: $colors, $key:primary-text-color );
		font-family: $font-principal;
		font-weight: $font-weight-secondary;
		font-size: map-get($map: $spacings, $key: spacing-medium);
		text-align: center;
		padding: map-get($map: $spacings, $key: spacing-medium);
		@include formato_texto_titulo(map-get($map: $spacings, $key: spacing-medium));
	}
	
}

.cursos {
	@include flex(column, na, 0, center,center,na);
	padding: 0 map-get($map: $spacings, $key: spacing-xlarge);;
}

table.cursos-costos {
	color:map-get($map: $colors, $key: third);
	font-size: map-get($map: $spacings, $key: spacing-small);
	font-family: $font-principal;
	font-weight: $font-weight-secondary;
	text-align: left;
}

.cursos-titulo h1 {
	@include formato_texto_titulo(map-get($map: $spacings, $key: spacing-medium));
}
