
.cursos-descripcion {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(10, auto);
	gap: 1rem;
	padding: 1rem;
	@include borderline(5px, rgb(192, 6, 6));
	margin: 5rem 5rem;
	
}

.cursos-descripcion h2 {
	color:yellow;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
	@include formato_texto_titulo();
	margin: 2rem;
}

.cursos {
	@include flex(column, na, 0, center,center,na);
	padding: 0 5rem;
}

table.cursos-costos {
	color: rgb(44, 41, 41);
	font-size: 1.5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-align: left;
}

.cursos-titulo h1 {
	@include formato_texto_titulo();
	margin: 2rem;
}
