
.empresa-titulo h1 {
	@include formato_texto_titulo(map-get($map: $spacings, $key: spacing-medium));
}

.empresa-formato-subtitulo h2 {
	max-height: 20px;
}

.empresa-articulo-0{
	grid-area: "titulo-articulo-1";
	padding: map-get($map: $spacings, $key: spacing-large);
	@include flex(na, center, na, stretch, center, na);
}

.empresa-articulo-1{
	grid-area: "articulo-1";
}

.empresa-articulo-2{
	grid-area: "titulo-articulo-2";
	padding: map-get($map: $spacings, $key: spacing-large);
	@include flex(na, center, na, stretch, center, na);
}

.empresa-articulo-3{
	grid-area: "articulo-2";
}

.empresa-articulo-4{
	grid-area: "titulo-articulo-3";
	padding: map-get($map: $spacings, $key: spacing-large);
	@include flex(na, center, na, stretch, center, na);
}

.empresa-articulo-5{
	grid-area: "articulo-3";
}

.empresa{
	display:grid;
	gap: $xlarge;
	grid-template-areas:
		"titulo-articulo-1" auto
		"articulo-1"		auto
		"titulo-artiuclo-2" auto
		"articulo-2"		auto
		"titulo-articulo-3" auto
		"articulo-3"		auto /
		auto;
	gap: $ems-xsmall;
	padding: $ems-xlarge;
	$line-color:map-get($map: $colors, $key:borderline);
	@include borderline(5px, $line-color);
	margin: $ems-xlarge $ems-xlarge;
	align-content: stretch;
}

.empresa-formato-texto {
	text-align: justify;
}