/* ---------------------- -------- ---------------------- */
/* ---------------------- Variales ---------------------- */
/* ---------------------- -------- ---------------------- */

/* ///   Colors   /// */
$colors:(
    primary: darkblue,
    secondary: rgb(4, 149, 197),
    third: rgb(41,41,41),
    alternative: white,
    bg:burlywood,
    alternative-bg: darkgoldenrod,
    primary-text-color: yellow,
    secondary-text-color: black,
    borderline: rgb(192, 6, 6),
    boton-color: #005BBB
);

/* ///   Spacing   /// */
$spacings:(
    spacing-xxxlarge: 30rem,
    spacing-xxylarge: 10rem,
    spacing-xxlarge: 7rem,
    spacing-xlarge: 5rem,
    spacing-large: 3rem,
    spacing-medium: 2rem,
    spacing-small: 1.5rem,
    spacing-xsmall: 1rem,
    spacing-xxsmall: 0.5rem
);

/* ///   pixeles   /// */
$xxxlarge: 35px;
$xxlarge: 20px;
$xlarge: 5px;
$small: 2px;


/* ///   font-family   /// */
$font-principal: 'Roboto', sans-serif;
$font-secondary: 'Lato', sans-serif;
$font-weight-principal: 700;
$font-weight-secondary: 500;
$font-weight-third: 300;
$font-weight-fourth: 100; 

/*   ///   font-sizes   /// */
$font-size:(
    xlarge: 32px,
    xxlarge: 20px,
    xylarge: 18px,
    ylarge: 15px,
    large: 3rem,
    medium: 2rem,
    small: 1.5rem,
    xsmall: 1rem
);

/*   ///   spacing-sizes en ems  /// */
$spacings-ems-xxsmall: 0.8em;

/*   ///   font-sizes en ems  /// */
$ems-xlarge: 5em;
$ems-small: 1.5em;
$ems-xsmall: 1em;

/* /// Otras Variables  /// */
$footer-height: 12rem;
$container-footer-height: 100px;
$container-footer-height-media-query: 120px;
$padding-top-bottom-btn: 10px;
$height-form-contact: 500px;
$min-width-form-contact: 250px;