/* Variales */

/* ///   Colors   /// */
$colors:(
    primary: darkblue,
    secondary: rgb(4, 149, 197),
    third: rgb(41,41,41),
    alternative: white,
    bg:burlywood,
    alternative-bg: darkgoldenrod,
    primary-text-color: yellow,
    secondary-text-color: black,
    borderline: rgb(192, 6, 6),
    boton-color: #005BBB
);

/* ///   Spacing   /// */
$spacings:(
    spacing-xxxlarge: 30rem,
    spacing-xxylarge: 10rem,
    spacing-xxlarge: 7rem,
    spacing-xlarge: 5rem,
    spacing-large: 3rem,
    spacing-medium: 2rem,
    spacing-small: 1.5rem,
    spacing-xsamll: 1rem,
    spacing-xxsmall: 0.5
);

/* ///   font-family   /// */
$font-principal: 'Roboto', sans-serif;
$font-secondary: 'Lato', sans-serif;
$font-weight-principal: 700;
$font-weight-secondary: 500;
$font-weight-third: 300;
$font-weight-fourth: 100; 

/*   ///   font-sizes   /// */
$font-size:(
    xlarge: 32px,
    large: 3rem,
    medium: 2rem,
    small: 1.5rem,
    xsmall: 1rem
);